body {
  background: #f3f3f3;
}

img {
  height: 220px;
}

a {
  color: gray ;
}

button:focus {
  outline: none;
}

.container {
  padding: 0 20em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5em;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 3em;
}


input[type='text'] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}
